<!--

		Choose Rate Page, Step Two of Order Process

						Wed  9 Mar 14:26:00 2016

-->

<div class="container">
	<div class="row">
		<div class="col-xs-6">
		<legend>Pickup</legend>
			<img id="pickup-map" src="" alt="">
		</div>
		<div class="col-xs-6">
		<legend>Dropoff</legend>
			<img id="dropoff-map" src="" alt="">
		</div>
		<br></br>
		<br></br>
	</div>

<!-- <RATESECTION></RATESECTION> -->

	<div class="row">
		<div class="col-xs-12">
			<legend>Rates</legend>
			<table class="table table-hover">
				<thead id="rates-head" style="display:none">
					<tr>
						<th></th>
						<th>Carrier</th>
						<th>Rate</th>
						<th>Service</th>
						<th>ETA.</th>
					</tr>
				</thead>
				<tbody id="rates">
				</tbody>
			</table>
		</div>
	</div>
</div>
