<!--
*
*					DATE & TIME FORM
*
*										Wed 27 Jan 17:09:51 2016
*
-->

<div class="row">


<!-- DATE & TIME -->


			<div class="col-xs-7">
				<div class="input-group">

<!-- Date -->
					<input type="text" class="form-control" uib-datepicker-popup="||dm.format||"
					ng-model="dm.date" is-open="dm.popup.opened"
					min-date="dm.minDate" max-date="dm.maxDate" datepicker-options="dm.dateOptions" 
					date-disabled="dm.disabled(date, mode)" ng-required="true" close-text="Close"
					alt-input-formats="dm.altInputFormats" />


					<span class="input-group-btn">
						<button type="button" class="btn btn-default" 
							ng-click="dm.open()"><i class="glyphicon glyphicon-calendar"></i></button>
					</span>
				</div>
			</div>


			<div class="col-xs-5">
<!-- Time -->
				<span style="float:right" uib-timepicker 
					arrowkeys="false" show-spinners="false"
					ng-model="dm.time"></span>
			</div>
		</div>

<!-- Date & Time Display -->
<br>

		<div class="row">
			<div class="space col-sm-12">
				<pre class="alert alert-info">|| dm.date | date:"fullDate" ||. || dm.time | date:"shortTime" ||</pre>
			</div>
		</div>


<!-- CLOSE -->
	
</div>
