<!--
*
*					MAIN ORDER FORM SHELL
*
*										Wed 27 Jan 17:09:51 2016
*
*			*** SET CONTROLLER AS VM ***
*
-->


<div class="container">

	<h2>Place Order</h2>
	<form name="mainForm" no-validate>


<!-- STEP 1 -->


		<div class="row" ng-form="tripForm">
			<div class="col-sm-6" >
				<legend>Pickup</legend>
				<div address-form address="vm.pickup"></div>
			</div>

			<div class="col-sm-6" >
				<legend>Dropoff</legend>
				<div address-form address="vm.dropoff"></div>
			</div>
		</div>


<!-- STEP 2 -->


		<div class="row" ng-form="detailForm" ng-hide="tripForm.$invalid">
	<!-- Date & Time -->
				<div class="col-sm-6" >
					<legend>Ready Time</legend>
					<div date-form date="vm.date" time="vm.time"></div>
				</div>
	<!-- Parcel -->
				<div class="col-sm-6">
					<legend>Parcel</legend>
					<div parcel-form parcel="vm.parcel"></div>
				</div>
		</div>

<!-- STEP 3 -->

		<!-- <div ng-form="rateForm" ng-if="detailForm.$valid">
	<!-- LOCAL -->
			<div ng-switch="vm.local">
				<div class="row" ng-switch-when="local">
					<div class="col-sm-6">
						<h4>
							EXPRESS
						</h4>
						<input type="radio" ng-model="vm.service" value="EX">
						$|| vm.prices.express||
					</div>
					<div class="col-sm-6">
						<h4>
							BASIC
						</h4>
						<input type="radio" ng-model="vm.service" value="SD">
						$|| vm.prices.basic ||
					</div>
				</div>
	<!-- NATIONAL -->
				<div ng-switch="vm.local">

				</div>
<!-- END STEP 3 -->
			</div>
		</div> -->

<!-- Buttons -->
		<div class="row col-xs-12">
			<input value="Next" class="btn btn-info" style="float:right" ng-click="vm.check()" type="button">
			<input value="Rates" class="btn btn-info" style="float:right" ng-click="vm.getRates()" type="button">
			<input value="Place" class="btn btn-info" style="float:right" ng-click="vm.placeOrder()" type="button">
			<input value="Confirm" class="btn btn-danger" style="float:left" ng-click="vm.open()" type="button">
		</div>

	</form>

</div>


<!-- RESOURCE  -->

<div class="container">
	<h4>
		ORDER:	|| vm.big ||
	</h4>
	<h4>
		Pickup:	|| vm.plink ||
	</h4>
	<h4>
		Dropoff: || vm.dlink ||
	</h4>
	<h4>
		Rates: || vm.rates ||
	</h4>


</div>
