<!--

		Choose Rate Page, Step Two of Order Process

						Wed  9 Mar 14:26:00 2016

-->

<div class="container">

<!-- <RATESECTION></RATESECTION> -->

	<div class="row">
		<div class="col-xs-12">
			<table class="table table-hover">
				<thead id="non-local-rates" style="display:none">
					<tr>
						<th></th>
						<th>Carrier</th>
						<th>Price</th>
						<th>Service</th>
						<th>ETA.</th>
					</tr>
				</thead>
				<thead id="local-rates" style="display:none">
					<tr>
						<th></th>
						<th>Service</th>
						<th>Price</th>
					</tr>
				</thead>
				<tbody id="rates">
				</tbody>
			</table>
		</div>
	</div>

<!-- <PLACEORDER></PLACEORDER> -->

	<div class="row">
		<div class="col-xs-12">
			<button id="submit" style="float:right" type="button" class="btn btn-primary">Place</button>
		</div>
	</div>
</div>
