{% load staticfiles %}

<!DOCTYPE html>
<html lang="en" ng-app="delivery">


<!-- <head></head> -->


<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href={% static "css/bootstrap.min.css" %}>
	<link rel="stylesheet" href={% static "css/style.css" %}>

	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>
</head>


<!-- <body></body> -->


<body>
<div ng-controller="mainCtrl" class="container">

	<h2>Place Order</h2>
	<form name="mainForm" no-validate>

		{% include 'delivery/address_form.html' %}
		{% include 'delivery/detail_form.html' %}

		<h4>
			|| distance ||
		</h4>

	</form>

</div>

<!-- <Angular-Code></Angular-Code> -->
<script src={% static "js/angular.min.js" %}></script>
<script src={% static "js/ngAutocomplete.js" %}></script>
<script src={% static "js/ui-bootstrap.min.js" %}></script>
<script src={% static "js/ui-bootstrap-tpls.min.js" %}></script>
<script src={% static "js/angular-resource.min.js" %}></script>
<script src={% static "js/angular-google-distance.min.js" %}></script>


<!-- <script src={% static "js/services.js" %}></script> -->
<script src={% static "js/controllers.js" %}></script>
<script src={% static "js/app.js" %}></script>

</body>
</html>
