@import "customVariables";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

// Prevent Navbar from Overlapping
body{
	padding-top: $navbar-height;
}

// edit for main logo
#logo-container{
	position: relative;
	overflow: hidden;
	height: 75px;
	width: 100px;
}

#logo-container img {
    max-height:100%;
	max-width:100%;
}
// end edit for main logo
