{% extends "site_base.html" %}

{% load i18n %}
{% load leaflet_tags %}
{% load bootstrap %}

{% block head_title %}Confirm Order{% endblock %}
{% block body_class %}changeorder{% endblock %}
{% block body_base %}


<div class="container">
	<div class="container">
		<legend><h2>Review and Confirm Order</h2></legend>

		<h3>--{{ trip.dist }}--</h3>

		<form action="{% url 'delivery:confirmorder' %}" method="POST">

		{% csrf_token %}

		{% for radio, price in prices %}
		<div class="col-xs-4">
			<label>
				<h4>{{ radio.choice_label }}</h4>
				<div class="container"><span>${{ price }}</span></div>
				<div class="container">{{ radio.tag }}</div>
			</label>
		</div>
		{% endfor %}
		{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-error">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-error">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}

			<div class="col-xs-12">
				<div class="form-group" style="float:right;">
					<button type="submit" class="btn btn-primary">CONFIRM ORDER</button>
					  <!-- <input ="submit" value="Next"> -->
				</div>	
			</div>
			<!-- <input type="submit" value="submit"> -->
		</form>
	
	</div>
</div>
{% endblock %}
