{% extends "site_base.html" %}

{% load i18n %}
{% load bootstrap %}
{% load staticfiles %}

{% block head_title %}Place Order{% endblock %}
{% block body_class %}placeorder{% endblock %}

{% block css %}
		<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.0/themes/base/jquery-ui.css">
		<link rel="stylesheet" href="{% static 'css/jquery.timepicker.css' %}">
{% endblock %}

{% block foot_js %}
		<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
		<script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
		<script src={% static 'js/jquery.geocomplete.js' %}></script>
		<script src={% static 'js/jquery.timepicker.js' %}></script>
		<script>
			$(function() { 
				$( "#{{ form3.delivery_date.auto_id }}" ).datepicker(); 
				$( '#{{ form3.ready_time.auto_id }}' ).timepicker({ 'timeFormat': 'H:i' });

				$( "#{{ form1.geocomplete.auto_id }}" ).geocomplete({
					details: "#start",
					detailsAttribute: "geo",
					types: ["geocode"],
				});

				$( "#{{ form2.geocomplete.auto_id }}" ).geocomplete({
					details: "#end",
					detailsAttribute: "geo",
					types: ["geocode"],
				});
			});
		</script>
{% endblock %}

{% block body_base %}
<div class="container"><h2>Order Form</h2></div><br>

<form action="{% url 'delivery:placeorder' %}" method="POST" role="form">
	<div class="container">
			{% csrf_token %}

			<div id="start" class="col-xs-12 col-sm-6">
				<div class="col-xs-12">
					<legend>Pick Up Location</legend>
					{{ form1.geocomplete|bootstrap }}
					{# Include the hidden fields #}
					{% for hidden in form1.hidden_fields %}
						{{ hidden }}
					{% endfor %}
				</div>
				<div class="col-xs-7">
					{{ form1.contact_name|bootstrap}}
				</div>
				<div class="col-xs-5">
					{{ form1.contact_number|bootstrap}}
				</div>
				<div class="col-xs-8">
					{{ form1.comments|bootstrap}}
				</div>
				<div class="col-xs-4">
					{{ form1.unit|bootstrap}}
					{{ form1.saved|bootstrap}}
				</div>
			</div>

			<div id="end" class="col-xs-12 col-sm-6">
				<div class="col-xs-12">
					<legend>Drop Off Location</legend>
					{{ form2.geocomplete|bootstrap }}
					{# Include the hidden fields #}
					{% for hidden in form2.hidden_fields %}
						{{ hidden }}
					{% endfor %}
				</div>
				<div class="col-xs-7">
					{{ form2.contact_name|bootstrap}}
				</div>
				<div class="col-xs-5">
					{{ form2.contact_number|bootstrap}}
				</div>
				<div class="col-xs-8">
					{{ form2.comments|bootstrap}}
				</div>
				<div class="col-xs-4">
					{{ form2.unit|bootstrap}}
					{{ form2.saved|bootstrap}}
				</div>
			</div>
	</div>

	<div class="container">
			<div class="col-xs-12 col-sm-6">
				<div class="col-xs-12">
					<legend>Date & Time</legend>
				</div>
				<div class="col-xs-6">
					{{ form3.delivery_date|bootstrap}}
				</div>
				<div class="col-xs-6">
					{{ form3.ready_time|bootstrap}}
				</div>
			</div>

			<div class="col-xs-12 col-sm-6">
				<div class="col-xs-12">
					<legend>Packages</legend>
				</div>
				<div class="col-xs-4">
					{{ form3.envelopes|bootstrap}}
				</div>
				<div class="col-xs-4">
					{{ form3.rolls|bootstrap}}
				</div>
				<div class="col-xs-4">
					{{ form3.boxes|bootstrap}}
				</div>
			</div>

			<div class="col-xs-12">
				<div class="form-group" style="float:right;">
					<button type="submit" class="btn btn-primary">Next</button>
					  <!-- <input ="submit" value="Next"> -->
				</div>	
			</div>
	</div>
</form>
{% endblock %}


