@import "customVariables";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../../node_modules/flat-ui/css/flat-ui.css";

// Prevent Navbar from Overlapping
body{
	padding-top: $navbar-height;
}

#head-logo {
	height: $navbar-height;
	position: absolute;
	top: 0px;
}

img {
	border-radius: 10px;
}
// end edit for main logo
