<!--

		Address Form, Partial Template

						Wed  9 Mar 14:26:00 2016

-->
<div>
	<!-- <address+unit></address+unit> -->
	<div class='stepOne'>
		<div class="row">
			<div class='col-xs-9 form-group'>
				<label for="geocompleted">Address</label>
				<input name="geocompleted" class="form-control" type="text" placeholder="ie 1 Toronto St." >
				<!-- <hidden></hidden> -->

				<input name="street" geo="name" type="hidden">
				<input name="city" geo="locality" type="hidden" />
				<input name="prov" geo="administrative_area_level_1" type="hidden">
				<input name="postal" geo="postal_code" type="hidden">
				<input name="country" geo="country_short" type="hidden" />
				<input name="lat" geo="lat" type="hidden" />
				<input name="lng" geo="lng" type="hidden" />

				<!-- <hidden></hidden> -->
			</div>
			<!-- <unit></unit> -->
			<div class='form-group col-xs-3'>
				<label for="unit">Unit</label>
				<input id="unit" name="unit" class="form-control" type="text" placeholder="#15" >
			</div>
		</div>

		<!-- <name+phone></name+phone> -->

		<div class="row">
			<div class='col-xs-7 form-group'>
				<label for="name">Name</label>
				<input class="form-control" name="name"/>
			</div>
			<div class='form-group col-xs-5'>
				<label for="phone">Phone</label>
				<input id="phone" name="phone"
				class="form-control" type="text" placeholder="#15" >
			</div>
		</div>
	</div>

	<div class="row stepZero" style="display:none">
		<img style='margin:auto;display:block' class='address-map' src="" alt="">
	</div>

</div>

