<div>
	<div class="row">
		<div class="col-xs-6">
			<legend>Details</legend>
			<div class="row">
				<div class="form-group col-xs-6">
					<label for="date">Date</label>
					<input id="date" name="date"
					class="form-control" type="text">

				</div>
				<div class="form-group col-xs-6">
					<label for="time">Time</label>
					<select class="form-control" name="time">
						<option value="9:00 AM">9:00 AM</option>
						<option value="9:30 AM">9:30 AM</option>
						<option value="10:00 AM">10:00 AM</option>
						<option value="10:30 AM">10:30 AM</option>
						<option value="11:00 AM">11:00 AM</option>
						<option value="11:30 AM">11:30 AM</option>
						<option value="12:00 PM">12:00 PM</option>
						<option value="12:30 PM">12:30 PM</option>
						<option value="1:00 PM">1:00 PM</option>
						<option value="1:30 PM">1:30 PM</option>
						<option value="2:00 PM">2:00 PM</option>
						<option value="2:30 PM">2:30 PM</option>
						<option value="3:00 PM">3:00 PM</option>
						<option value="3:30 PM">3:30 PM</option>
						<option value="4:00 PM">4:00 PM</option>
					</select>

				</div>
			</div>
			<div class="row">
				<div class="form-group">
					<div class="col-xs-12">
						<label for="parcel">Parcel</label>
						<select class="form-control" name="parcel">
							<option value="small">Small</option>
							<option value="medium">Medium</option>
							<option value="large">Large</option>
						</select>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-6">
			<legend>Optional Info.</legend>
			<div class="form-group">
				<label for="comments">Instructions</label>
				<textarea class="form-control" name="comments" cols="0" rows="2"></textarea>
			</div>
			<div class="row">
					<div class="form-group col-xs-8">
						<label for="reference">Reference</label>
						<input class="form-control" type="text" name='reference'>
					</div>
					<div class="checkbox col-xs-4">
						<label for="return">
							<input type="checkbox" name='return'>
							<i>Make return trip?</i>
						</label>
					</div>
			</div>
		</div>
	</div>
</div>
