{% extends 'site_base.html' %}

{% load i18n %}
{% load staticfiles %}

{% block head_title %}Goodfoot Delivery{% endblock %}
{% block body_class %}home{% endblock %}


{% block css %}
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
{% endblock %}


{% block body_base %}
	<section>
		<div class="container">
			<div class="row">
		<!-- <pickup></pickup> -->
				<form id='start' class="pickup col-xs-6">
					<legend>Pickup</legend>
					{% include "delivery/addressForm.html" %}
				</form>
		<!-- <dropoff></dropoff> -->
				<form id='end' class="col-xs-6">
					<legend>Dropoff</legend>
					{% include "delivery/addressForm.html" %}
				</form>
			</div>

		</div>
	</section>

	<section class='stepTwo' style="display:none">
		<div class="container">
			<form id="details">
	<!-- <datetimeparcel></datetimeparcel> -->
					{% include "delivery/detailForm.html" %}
			</form>
		</div>
	</section>

	<section class='stepThree' style="display:none">
		{% include "delivery/chooseRate.html" %}
	</section>

	<section class='stepFour' style="display:none">
		{% include "delivery/confirmOrder.html" %}
	</section>

	<section>
			<div class="container row">
				<div class="col-xs-6">
					<button id="back" style="margin:auto" type="button" class="btn btn-danger">Back</button>
				</div>
				<div class="col-xs-6">
					<button id="next" style="float:right" type="button" class="btn btn-primary">Next</button>
				</div>
			</div>
	</section>
{% endblock %}


{% block scripts %}
	<script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"></script>	
	<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script> -->
	<!-- <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script> -->
	<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script> -->
	<!-- <script type="text/javascript" src="http://goodfootdelivery.com/js/jquery.geocomplete.js"></script> -->

	<!-- <script src="{% static "js/map.js" %}"></script> -->
	<!-- <script src="{% static "js/ajaxHelpers.js" %}"></script> -->
	<!-- <script src="{% static "js/orderProcess.js" %}"></script> -->
	<script src="{% static "js/orderApp.js" %}"></script>
{% endblock %}
