{% extends 'site_base.html' %}

{% load i18n %}
{% load staticfiles %}

{% block head_title %}Goodfoot Delivery{% endblock %}
{% block body_class %}home{% endblock %}


{% block css %}
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
{% endblock %}


{% block body_base %}

	<section class="container">
		<div class="row">
			<div class="col-xs-12">
				<h3>Active Orders</h3>
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Order</th>
							<th>Pickup</th>
							<th>Dropoff</th>
							<th>Parcel</th>
							<th>Service</th>
							<th>Price.</th>
						</tr>
					</thead>
					<tbody>
						{% for order in order_list %}
						<tr>
							<td class="col-xs-2">{{ order.id }}</td>
							<td class="col-xs-2">{{ order.pickup }}</td>
							<td class="col-xs-2">{{ order.dropoff }}</td>
							<td class="col-xs-2">{{ order.parcel }}</td>
							<td class="col-xs-2">{{ order.service }}</td>
							<td class="col-xs-2">{{ order.price }}</td>
						</tr>
						{% empty %}
						<p>You Haven't Placed Any Orders Yet!</p>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</section>

	<section class="container">
		<h3>Order History</h3>
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Order</th>
					<th>Pickup</th>
					<th>Dropoff</th>
					<th>Parcel</th>
					<th>Service</th>
					<th>Price.</th>
				</tr>
			</thead>
			<tbody>
				{% for order in order_list %}
				<tr>
					<td class="col-xs-2">{{ order.id }}</td>
					<td class="col-xs-2">{{ order.pickup }}</td>
					<td class="col-xs-2">{{ order.dropoff }}</td>
					<td class="col-xs-2">{{ order.parcel }}</td>
					<td class="col-xs-2">{{ order.service }}</td>
					<td class="col-xs-2">{{ order.price }}</td>
				</tr>
				{% empty %}
				<p>You Haven't Placed Any Orders Yet!</p>
				{% endfor %}
			</tbody>
		</table>
	</section>
{% endblock %}


{% block foot_js %}
{% endblock %}
