{% load staticfiles %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">

    <head>
        <meta charset="utf-8" />

			<title>
				{% block head_title_base %}
					{% block head_title %}
						GoodFoot Delivery 
					{% endblock %}
				{% endblock %}
			</title>

        {% block viewport %}
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% endblock %}
		
		{% include "_styles.html" %}

		{% block css %}{% endblock %}

        {% block html5shim %}
            <!-- HTML5 shim, for IE6-8 support of HTML elements -->
            <!--[if lt IE 9]>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
            <![endif]-->
        {% endblock %}

        {% block extra_head_base %}
            {% block extra_head %}{% endblock %}
        {% endblock %}

		{% block head_js %}{% endblock %}
    </head>


    <body class="{% block body_class %}{% endblock %}" id="{% block body_id %}{% endblock %}" 
		
		{% block body_extra_attributes %}
		{% endblock %}>

        <div class="{% block wrapper_class %}{% endblock %}">

            {% block topbar_base %}
                <header>
                    <div class="navbar navbar-default {% block navbar_class %}navbar-fixed-top{% endblock %}">
                        <div class="container">
                        {% block topbar %}
                            <div class="navbar-header">
                                <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                    <span class="fa fa-bars"></span>
                                </button>
                                {% block site_brand %}
								<a class="navbar-brand" href="{% url "home" %}">GoodFoot Delivery</a>
								{% endblock %}
                            </div>
                            <div class="collapse navbar-collapse navbar-responsive-collapse">
                                {% block nav %}
                                {% endblock %}
                                {% block account_bar %}{% include "_account_bar.html" %}{% endblock %}
                            </div>
                        {% endblock %}
                        </div>
                    </div>
                </header>
            {% endblock %}

            {% block content %}
            {% endblock %}

            {% block body_base %}
                <section id="content_body">
                    <div class="container">
                        {% block body %}
                        {% endblock %}
                    </div>
                </section>
            {% endblock %}

            {% block footer_base %}
                <hr />
                <footer>
                    <div class="container">
                        {% block footer %}{% endblock %}
                    </div>
                </footer>
            {% endblock %}
        </div>


		{% include "_scripts.html" %}

		{% block foot_js %}{% endblock %}
		{% block javascript %}{% endblock %}


            </body>
</html>
