{% extends 'site_base.html' %}

{% load render_bundle from webpack_loader %}
{% load i18n %}
{% load staticfiles %}

{% block head_title %}goodfoot delivery{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}

    <section class="container">
		<div class="row">
			<div class="col-xs-6">
				<h2>WHAT</h2>
			</div>
			<div id="order" class="col-xs-6">
				{% render_bundle 'order' %}
			</div>
		</div>
    </section>

    <section>
        <div class="container">
            <p class="lead text-center">
                {% blocktrans %}
                See <a href="http://blog.goodfootdelivery.com/">blog.goodfootdelivery.com</a>
                for more information.
                {% endblocktrans %}
            </p>
        </div>
    </section>
	

{% endblock %}
