{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}pinax-project-account{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}
    <section class="jumbotron">
        <div class="container">
            {% include "_messages.html" %}
			<div class="col-xs-7">
				<h3>Getting the Good</h3>
				<p>GoodFoot</p>
			</div>
			<div class="col-xs-5"></div>
        </div>
    </section>
    <section>
        <div class="container">
            <h2 class="text-center">{% blocktrans %}What is Pinax?{% endblocktrans %}</h2>
            <p class="lead">
                {% blocktrans %}
                <b>Pinax</b> is an open-source platform based on Django and
                intended to provide a starting point for websites. It takes
                care of the things that many sites have in common, so you can
                focus on what makes your site different.
                {% endblocktrans %}
            </p>
            <div class="feature-columns">
                <div>
                    <i class="fa fa-twitter-square fa-3x"></i><br>
                    {% blocktrans %}
						<a class="twitter-timeline" href="https://twitter.com/Good_Foot" data-widget-id="716522138312814592">Tweets by @Good_Foot</a>
                    {% endblocktrans %}
                </div>
                <div>
                    <i class="fa fa-instagram fa-3x"></i><br>
                    {% blocktrans %}
					<!-- SnapWidget -->
						<iframe src="http://snapwidget.com/in/?h=Z29vZGZvb3R8aW58MTI1fDN8M3x8bm98NXxub25lfG9uU3RhcnR8eWVzfG5v&ve=200416" title="Instagram Widget" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:390px; height:390px"></iframe>
                    {% endblocktrans %}
                </div>
                <div>
                    <i class="fa fa-phone-square fa-3x"></i><br>
                    {% blocktrans %}
					<h3>
						CONTACT INFO
					</h3>
							<ul>
								<li>Good Foot Delivery</li>
								<li>720 Bathurst St, #411</li>
								<li>Toronto, ON M5S2R4</li>
								<li>416-572-3771</li>
								<li>info@goodfootdelivery.com</li>
								<li>Charitable #: 825692668RR0001.</li>
							</ul>
                    {% endblocktrans %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block js %}
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
{% endblock %}
