{% extends "site_base.html" %}

{% load i18n %}


{% block head_title %}GoodFoot Delivery{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}

    <section class="jumbotron">
        <div class="container">
            {% include "_messages.html" %}
            <h1>{% blocktrans %}Welcome to<br>GoodFoot Delivery!{% endblocktrans %}</h1>
            <p>
                {% blocktrans %}
                Good Foot provides a personalized point-to-point delivery service on foot or via public transit as well as employment opportunities to people with developmental disabilities. We are a social enterprise and registered charity.
By supporting Good Foot you are supporting an environmentally-friendly delivery service and helping members of your community get a foothold on independence.
                {% endblocktrans %}
            </p>
		</div>
    </section>


    <section>
        <div class="container">
            <h2 class="text-center">{% blocktrans %}What is Pinax?{% endblocktrans %}</h2>
            <p class="lead">
                {% blocktrans %}
                <b>Pinax</b> is an open-source platform based on Django and
                intended to provide a starting point for websites. It takes
                care of the things that many sites have in common, so you can
                focus on what makes your site different.
                {% endblocktrans %}
            </p>
            <div class="feature-columns">
                <div>
                    <i class="fa fa-cubes fa-3x"></i><br>
                    {% blocktrans %}
                    <b>Starter projects</b> provide project layout,
                    scaffolding, already integrated components and
                    ready-to-go code.
                    {% endblocktrans %}
                </div>
                <div>
                    <i class="fa fa-puzzle-piece fa-3x"></i><br>
                    {% blocktrans %}
                    <b>Reusable apps</b> provide common
                    infrastructure, back-end functionality,
                    and user-facing components.
                    {% endblocktrans %}
                </div>
                <div>
                    <i class="fa fa-tint fa-3x"></i><br>
                    {% blocktrans %}
                    <b>Themes</b> provide default templates and
                    stylesheets for quick prototyping and easy customization.
                    {% endblocktrans %}
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <p class="lead text-center">
                {% blocktrans %}
                See <a href="http://pinaxproject.com/">pinaxproject.com</a>
                for more information.
                {% endblocktrans %}
            </p>
        </div>
    </section>

{% endblock %}
