<!DOCTYPE html>
<html lang="en" ng-app="delivery">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="css/bootstrap.min.css">

    <!-- Google Maps -->
	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>


</head>
<body>
<div ng-controller="mainCtrl" class="container">
	<legend>Order Form</legend>
	<form name="mainForm" no-validate>
			<ng-include src="'address_form.html'"></ng-include>

<div class="row" ng-repeat="usr in users">
	<ul>
		<li><strong>|| usr.name ||</strong> || usr.email || </li>
	</ul>
</div>
			
	</form>
</div>

<!-- <Angular-Code></Angular-Code> -->
<script src="js/angular.min.js"></script>
<script src="js/ngAutocomplete.js"></script>
<script src="js/ui-bootstrap.min.js"></script>
<script src="js/ui-bootstrap-tpls.min.js"></script>
<script src="js/angular-resource.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>

<script src="app.js"></script>

</body>
</html>
