{% extends "base.html" %}

{% load staticfiles %}
{% load metron_tags %}
{% load i18n %}


{% block styles %}
    {% include "_styles.html" %}
    {% block css %}{% endblock %}
{% endblock %}


{% block site_brand %}
	<a class="navbar-brand" href="{% url "home" %}">
		<img id="head-logo" src="{% static 'images/GoodFootLogo.png' %}" alt="">
	</a>
{% endblock %}


{% block extra_head_base %}
    {% block extra_head %}
	<br>
	<div class="container">
		{% if is_open %}
			<div class="alert alert-info">
				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				<p>Well Done We are Open!</p>
			</div>
		{% else %}
			<div class="alert alert-danger">
				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				<p>We are currently not open</p>
			</div>
		{% endif %}
	</div>
	{% endblock %}
{% endblock %}


{% block footer %}
    {% include "_footer.html" %}
{% endblock %}


{% block scripts %}
    {% include "_scripts.html" %}
	{% block js %}
	{% endblock %}
{% endblock %}

{% block extra_body_base %}
    {% analytics %}
    {% block extra_body %}{% endblock %}
{% endblock %}
