{% extends "theme_bootstrap/base.html" %}

{% load staticfiles %}
{% load metron_tags %}
{% load i18n %}


{% block styles %}
    {% include "_styles.html" %}
    {% block css %}{% endblock %}
{% endblock %}


{% block site_brand %}
	<a class="navbar-brand" href="{% url "home" %}">
		<img id="head-logo" src="{% static 'images/GoodFootLogo.png' %}" alt="">
		{{ client }}
	</a>
{% endblock %}


{% block extra_head_base %}
    {% block extra_head %}
		<div style='background-color:blue;height:70px'>
		</div>
	{% endblock %}
{% endblock %}


{% block footer %}
    {% include "_footer.html" %}
{% endblock %}


{% block scripts %}
    {% include "_scripts.html" %}
{% endblock %}

{% block extra_body_base %}
    {% analytics %}
    {% block extra_body %}{% endblock %}
{% endblock %}
