{% extends 'base.html' %}

{% load staticfiles %}
{% load i18n %}

{% block css %}
{% endblock %}

{% block head_js %}
{% endblock %}

{% block extra_head_base %}
    {% block extra_head %}{% endblock %}
{% endblock %}


{% block nav %}
	<ul class="nav navbar-nav">
		<li><a href="">Services & Pricing</a></li>
		<li><a href="{% url 'api-root' %}">API</a></li>
	</ul>
{% endblock %}

{% block footer %}
{% endblock %}

{% block foot_js %}
		<script src="{% static "js/theme.js" %}"></script>
		<!-- <script src="{% static "js/flat-ui.min.js" %}"></script> -->
{% endblock %}

{% block extra_body_base %}
    {% block extra_body %}{% endblock %}
{% endblock %}

