{% extends 'invoicing/base.html' %}

{% load i18n %}
{% load staticfiles %}
{% load bootstrap %}

{% block head_title %}Goodfoot Delivery{% endblock %}
{% block body_class %}home{% endblock %}


{% block css %}
{% endblock %}


{% block body %}

<section class="container">
	<form role="form">
		{% csrf_token %}
		<legend>Invoicing Information</legend>
		<div class="row">
			<div class="col-xs-6">{{ form.first_name | bootstrap }}</div>
			<div class="col-xs-6">{{ form.last_name | bootstrap }}</div>
		</div>
		<div class="row">
			<div class="col-xs-7">{{ form.email | bootstrap }}</div>
			<div class="col-xs-5">{{ form.phone | bootstrap }}</div>
		</div>
		<div class="row">
			<div class="col-xs-7">{{ form.organization | bootstrap }}</div>
			<div class="col-xs-5">
				<div class="form-group">
					<button type="submit" class="btn btn-primary">Submit</button>
				</div>
			</div>
		</div>
	</form>
</section>

{% endblock %}


{% block foot_js %}
{% endblock %}
