<!--
*
*					DATE, TIME, PARCEL, & SERVICE FORM
*
*										Wed 27 Jan 17:09:51 2016
*
-->

<div class="row" ng-form="detailForm">


<!-- DATE & TIME -->


	<div class="col-sm-6" ng-controller="DateController">
		<legend>When</legend>
		<div class="row">
<!-- Date -->
			<div class="col-sm-7">
				<div class="input-group">
					<input type="text" class="form-control vertical-center" uib-datepicker-popup="||format||"
						ng-model="date" is-open="popup.opened" min-date="minDate" show-weeks="false" max-date="maxDate" 
						datepicker-options="dateOptions" date-disabled="disabled(date, mode)" 
						ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
					<span class="input-group-btn">
						<button type="button" class="btn btn-default" 
							ng-click="open()"><i class="glyphicon glyphicon-calendar"></i></button>
					</span>
				</div>
			</div>
<!-- Time -->
			<div class="col-sm-5">
				<span style="float:right" uib-timepicker arrowkeys="false" show-spinners="false" ng-model="time"></span>
			</div>
		</div>
<!-- Date & Time Display -->
		<div class="row">
			<div class="space col-sm-12">
				<pre class="alert alert-info">|| date | date:"fullDate" ||. || time | date:"shortTime" ||</pre>
			</div>
		</div>
	</div>


<!-- PARCEL -->


	<div class="col-md-6">
		<legend>Parcel</legend>
		<fieldset class="row">
			<div class="col-sm-4" id="chec">
				<label class="btn btn-primary" ng-model="parcel" uib-btn-radio="||sml||">Small</label>
			</div>
			<div class="col-sm-4">
				<label class="btn btn-primary" ng-model="parcel" uib-btn-radio="||med||">Medium</label>
			</div>
			<div class="col-sm-4">
				<label class="btn btn-primary" ng-model="parcel" uib-btn-radio="||lrg||">Large</label>
			</div>
		</fieldset>
		<fieldset class="form-group row">
			<div class="col-sm-3">
				<label class="control-label" for="parcel.length">Length</label>
				<input class="form-control" type="text" ng-model="parcel.length"/>
			</div>
			<div class="col-sm-3">
				<label class="control-label" for="parcel.width">Width</label>
				<input class="form-control" type="text" ng-model="parcel.width"/>
			</div>
			<div class="col-sm-3">
				<label class="control-label" for="parcel.height">Height</label>
				<input class="form-control" type="text" ng-model="parcel.height"/>
			</div>
			<div class="col-sm-3">
				<label class="control-label" for="parcel.weight">Weight</label>
				<input class="form-control" type="text" ng-model="parcel.weight"/>
			</div>
		</fieldset>
	</div>
</div>


<!-- SERVICE -->


<div class="row" ng-if="distance">
	<div class="col-sm-4">
		<input type="radio" ng-model="service" value="EX">
		$|| prices[0] ||
	</div>
	<div class="col-sm-4">
		<input type="radio" ng-model="service" value="SD">
		$|| prices[1] ||
	</div>
	<div class="col-sm-4">
		<input type="radio" ng-model="service" value="ND">
		$|| prices[2] ||
	</div>


<!-- CLOSE -->
	
</div>
